/* login and signup styling */
body {
  color: #999;
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}
.form-control {
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus {
  border-color: #5cb85c;
}
.form-control, .btn {
  border-radius: 3px;
}
.signup-form {
  width: 450px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 15px;
}
.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #0000ff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #0000ff;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

nav.navbar {
  position: ;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

/* Contact Us styling */
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* Create two columns that float next to each other */
.contact-column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.contact-info {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* Social icons styling */
.fa {
  padding: 4px;
  font-size: 24px;
  width: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 4px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Column menu */
.column-ellipsis {
  font-size: 20 px;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.menu-container {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  display: none;
}

.show-menu {
  display: block;
}

.menu-link {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

.column {
  position: relative;
}

.column-title {
  font-size: 20px;
  border: none;
  padding-right: 30px; /* Adjust the value as needed */
  max-width: calc(100% - 30px); /* Adjust the value based on the padding-right value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border-radius: 5px;
}

.ellipsis-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px; /* Adjust the vertical positioning as needed */
  margin-right: 5px; /* Adjust the horizontal positioning as needed */
}
