<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style.css" />

  <title>KanBan Home</title>
</head>

<body>

<!-- Default KanBan Board -->
<!--<div class="board container mt-3 text-center">-->
<!--  <input class="text-center" type="text" value="Kanban Board">-->
<!--  <div class="lanes">-->
<!--    <div class="swim-lane" id="todo-lane">-->
<!--      <input class="heading" type="text" value="TODO">-->

<!--      <input class="task" draggable="true" type="text">-->
<!--      <input class="task" draggable="true" type="text">-->
<!--    </div>-->

<!--    <div class="swim-lane">-->
<!--      <input class="heading" type="text" value="IN PROGRESS">-->
<!--    </div>-->

<!--    <div class="swim-lane">-->
<!--      <input class="heading" type="text" value="DONE">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Create Kanban Board -->
<div class="board container">
  <h1>Kanban Board</h1>
  <div class="column">
    <h3>TODO</h3>
    <p>Walk the dog</p>
  </div>
</div>

<!-- Update Kanban Board Title -->

<!-- Update column title -->

<!-- Update card -->

</body>
</html>