<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/kanban_board.css">
    <title>Kanban Board</title>
</head>
<body>

<div id="board" class="board">
  <div class="board-header">
    <h1 id="board-title" contenteditable="true">Kanban Board</h1>
  </div>
  <div id="columns" class="columns"></div>
  <button id="add-column" class="add-column-btn">+ Add Column</button>
  <button id="new-board" class="new-board-btn">New Board</button>
</div>

<script src="../static/js/kanban_board.js"></script>

</body>
</html>